<div class="col-md-8">
<% @posts.each_with_index do |post, index| %>
  <% if index >= 5 %>
    <% break %>
  <% end %>
  <div class="article">
    <h2><%= post.title %></h2>
    <p><%= post.created_at %></p>
    <p><%= post.category %></p>
    <p><a class="btn btn-default" href="/posts/<%= post.id %>" role="button">続きを読む</a></li>
  </div>
<% end %>

</div>
